@import '../../Colors/common-colors.scss';
@import '../../Colors/dark-colors.scss';
@import '../../Colors/light-colors.scss';
.lightContainer {
  display: flex;
  flex-flow: column wrap;
  background-color: #f7f7f7;
  border-radius: 0 0 12px 12px;
  height: fit-content;
  gap: 16px;
  justify-content: center;
  padding: 24px 24px 0 24px;
}
.darkContainer {
  display: flex;
  flex-flow: column wrap;
  background-color: $background-color-dark-mode;
  gap: 16px;
  justify-content: center;
  padding: 24px 24px 0 24px;
  border-radius: 0 0 12px 12px;
}
.content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.darkContainer .modes {
  border: 1px solid $disable-stroke-dark;
}
.lightContainer .modes {
  border: 1px solid $disable-stroke-white;
}
.modeAndLog {
  display: flex;
  align-items: center;
  gap: 12px;
}
.modes {
  border: 1px solid $disable-stroke-dark;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
}
.inputContainer {
  display: flex;
  align-items: center;
  flex-basis: 865px;
  gap: 16px;
}
.searching {
  flex-basis: 742px;
}

@media screen and (max-width: 1024px) {
  .search {
    display: flex;
  }
  .content {
    display: none;
  }
}
.test {
  width: 742px;
  padding: 12px;
  border-radius: 12px;
  outline: none;
  border: none;
}
