@import '../../Colors/common-colors.scss';
.playButton {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 8px;
  color: red;
}
.dark {
  background-color: $primary-white;
}
.light {
  background-color: $primary-black;
}

.playButton:hover {
  cursor: pointer;
}

.play {
  width: 32px;
  height: 32px;
}

.notPlay {
  width: 10px;
  height: 10px;
}