@import '../Colors/common-colors.scss';
@import '../Colors/dark-colors.scss';
@import '../Colors/light-colors.scss';

.container {
  background-color: $background-color-light-mode;
  border-radius: 12px;
}
:global(body.dark) .darkContainer {
  background-color: $background-color-dark-mode;
}
