@import '../../Colors/common-colors.scss';
@import '../../Colors/dark-colors.scss';
@import '../../Colors/light-colors.scss';
.container {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
}
.items {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  flex-basis: 800px;
}

@media screen and (max-width: 1024px) {
  .container {
    justify-content: center;
    flex-basis: 768px;
  }
  .items {
    flex-basis: 100%;
    border-radius: 12px 12px 0 0;
    padding: 8px 0;
  }
}
