@import '../../Colors/common-colors.scss';
@import '../../Colors/dark-colors.scss';
@import '../../Colors/light-colors.scss';
.container {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
}
.items {
  display: flex;
  justify-content: space-between;
}

.search {
  display: none;
}
@media screen and (max-width: 1024px) {
  .container {
    display: none;
  }
}
