@import '../../Colors/common-colors.scss';
@import '../../Colors/dark-colors.scss';
@import '../../Colors/light-colors.scss';

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
}
.items {
  display: flex;
  justify-content: space-between;
  flex-basis: 800px;
  gap: 8px;
}

@media screen and (max-width: 1023px) {
  .container {
    position: fixed;
    bottom: -12px;
    z-index: 1000;
    width: 100%;
    padding: 16px;
    background-color: $background-color-light-mode;
    border-radius: 12px;
    left: 0;
  }
}
