@import '../../Colors/common-colors.scss';
@import '../../Colors/dark-colors.scss';
@import '../../Colors/light-colors.scss';

.playlistWrapper {
  width: 100%;
  max-width: 318px;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 12px;
  z-index: 1;
}

:global(body.dark) .darkContainer {
  background-color: $background-color-dark-mode;
  color: $primary-white;
}

.heading {
  font-size: 16px;
}

.image {
  border-radius: 12px;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 16px;
}

.playlistWrapper:hover {
  background-color: $hovered-white;
  border-radius: 12px;
}

:global(body.dark) .darkContainer:hover {
  background-color: $hovered-dark;
  border-radius: 12px;
}