.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1034px;
  flex-flow: row wrap;
  gap: 16px;
}
@media screen and (min-width: 769px) and (max-width: 1064px) {
  .container {
    max-height: 164px;
    flex-wrap: row wrap;
    gap: 8px;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .container {
    max-height: 164px;
    flex-flow: column wrap;
    overflow-x: scroll;
    gap: 8px;
  }
}
