@import '/app/Colors/common-colors.scss';
@import '/app/Colors/dark-colors.scss';
@import '/app/Colors/light-colors.scss';

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: $gray-400;
}

.artistsWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.artist {
  display: flex;
  gap: 16px;
}
.artistColumn {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;
}
.albumsWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.albums {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.musicsWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.musics {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {

  .heading h5 {
    font-size: 20px;
  }
  .contentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
  }
}
