@import '../../Colors/common-colors.scss';
@import '../../Colors/light-colors.scss';
@import '../../Colors/dark-colors.scss';

.h1 {
  font-size: 48px;
  font-weight: 700;
  color: $primary-black;
}

.h1-dark {
  color: $primary-white;
  font-size: 48px;
  font-weight: 700;
}

.h2 {
  font-size: 36px;
  font-weight: 600;
  color: $primary-black;
}

.h2-dark {
  color: $primary-white;
  font-size: 36px;
  font-weight: 600;
}

.h3 {
  font-size: 32px;
  font-weight: 500;
  color: $primary-black;
}

.h3-dark {
  color: $primary-white;
  font-size: 32px;
  font-weight: 500;
}

.h4 {
  font-size: 28px;
  font-weight: 500;
  color: $primary-black;
}

.h4-dark {
  color: $primary-white;
  font-size: 28px;
  font-weight: 500;
}

.h5 {
  font-size: 24px;
  font-weight: 500;
  color: $primary-black;
}

.h5-dark {
  font-size: 24px;
  font-weight: 500;
  color: $primary-white;
}
