@media screen and (min-width: 737px) {
  .playerWrapper {
    display: block;
  }
  .responsivePlayerWrapper {
    display: none;
  }
}

@media screen and (max-width: 1405px) {
  .playerWrapper {
    display: none;
  }
  .responsivePlayerWrapper {
    display: flex;
  }
}
