@import '../../Colors/common-colors.scss';
.playButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  padding: 12px;
  background-color: $primary-color;
}

.playButton:hover {
  cursor: pointer;
}
