@import '../../../Colors/common-colors.scss';
@import '../../../Colors/dark-colors.scss';
@import '../../../Colors/light-colors.scss';
.logo {
  color: $primary-color;
  font-size: 40px;
  font-weight: 400;
}
