.PrimaryTextLarge {
  font-size: 20px;
  font-weight: 500;
}

.SecondaryTextMedium {
  font-size: 16px;
  font-weight: 400;
}

.SecondaryTextMediumBold {
  font-size: 16px;
  font-weight: 500;
}

.SecondaryTextSmall {
  font-size: 14px;
  font-weight: 400;
}
.SecondaryTextSmallBold {
  font-size: 14px;
  font-weight: 500;
}

.SecondaryTextExtraSmall {
  font-size: 12px;
  font-weight: 400;
}

.TinyText {
  font-size: 10px;
  font-weight: 400;
}
