@import '../../Colors/common-colors.scss';
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.primary {
  background-color: $primary-color;
  gap: 8px;
  color: $primary-white;
}

.secondary {
  gap: 4px;
  background-color: #ffe2c2;
  color: $primary-color;
}
