@import './Colors/common-colors.scss';
@import './Colors/light-colors.scss';
@import './Colors/dark-colors.scss';

.container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  max-width: 1440px;
}
