@import './Colors/common-colors.scss';
@import './Colors/light-colors.scss';
@import './Colors/dark-colors.scss';

.container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: 24px;
  justify-content: center;
}
.mainPage {
  display: flex;
  width: 100%;
  gap: 24px;
  justify-content: center;
}
.content {
  display: flex;
  flex-flow: column wrap;
  padding: 24px;
  gap: 16px;
  width: 100%;
  max-width: 986px;
  border-radius: 12px;
}
.darkContent {
  color: $gray-400;
  background-color: $background-color-dark-mode;
}
.lightContent {
  color: $gray-400;
  background-color: $primary-white;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.player {
  position: sticky;
  top: 0;
  height: fit-content;
  padding: 16px 8px;
  border-radius: 12px;
}
.darkPlayer {
  background-color: $background-color-dark-mode;
}
.lightPlayer {
  background-color: $background-color-light-mode;
}
.album {
  display: flex;
  width: 100%;
}
.downPlayer {
  display: none;
}

@media screen and (max-width: 1400px) {
  .player {
    position: sticky;
    bottom: 0;
    width: 100%;
    padding: 0;
  }
  .mainPage {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .content {
    width: 100%;
  }
  .container {
    width: 100%;
    justify-content: center;
  }
  .downPlayer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: $primary-black;
    position: sticky;
    bottom: 0;
  }
  .darkPlayer {
    background-color: $background-color-light-mode;
  }
  .lightPlayer {
    background-color: $background-color-dark-mode;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .player {
    position: sticky;
    width: 100%;
    padding: 0;
  }
  .content {
    display: flex;
    max-width: 704px;
    padding: 24px;
    gap: 24px;
    border-radius: 12px;
  }
  .mainPage {
    display: flex;
    max-width: 704px;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .player {
    width: 100%;
    position: sticky;
  }
  .content {
    display: flex;
    flex-flow: column wrap;
    max-width: 704px;
    padding: 24px;
    gap: 24px;
    border-radius: 12px;
  }
  .mainPage {
    display: flex;
    max-width: 704px;
  }
  .more {
    display: none;
  }
}
