@import './Colors/common-colors.scss';
@import './Colors/light-colors.scss';
@import './Colors/dark-colors.scss';

.container {
  display: flex;
  width: 100%;
  padding: 24px;
  justify-content: center;
}
.mainPage {
  display: flex;
  width: 100%;
  max-width: 1440px ;
  flex-flow: row wrap;
  justify-content: space-between;
  border: 1px solid green;
}
.darkContent {
  display: flex;
  flex-flow: column wrap;
  flex-basis: 1034px;
  background-color: $background-color-dark-mode;
  padding: 24px;
  gap: 24px;
  border-radius: 12px;
}
.lightContent {
  display: flex;
  flex-flow: column wrap;
  flex-basis: 1034px;
  background-color: $primary-white;
  padding: 24px;
  gap: 24px;
  border-radius: 12px;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $gray-400;
}
.darkPlayer {
  border: 1px solid red;
  height: 592px;
  flex-basis: 342px;
  padding: 16px 8px;
  display: flex;
}
.lightPlayer {
  border: 1px solid rgb(123, 255, 0);
  height: 592px;
  flex-basis: 342px;
  padding: 16px 8px;
  display: flex;
}
@media screen and (max-width: 1024px) {
  .darkPlayer {
    display: none;
  }
  .darkContent {
    display: flex;
    flex-flow: column wrap;
    max-width: 704px;
    background-color: $background-color-dark-mode;
    padding: 24px;
    gap: 24px;
    border-radius: 12px;
  }
  .mainPage {
    display: flex;
    max-width: 704px;
    border: 1px solid green;
  }
}
