@import '../../../Colors/common-colors.scss';
@import '../../../Colors/dark-colors.scss';
@import '../../../Colors/light-colors.scss';


.inputContainer {
  display: flex;
  align-items: center;
  flex-basis: 865px;
  gap: 16px;
}
.searching {
  flex-basis: 742px;
}
