@import '../../Colors/common-colors.scss';
.playButton {
    border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 8px;
}
.dark {
  background-color: $primary-white;
}
.light {
  background-color: $primary-black;
}
