@import '../../Colors/common-colors.scss';
@import '../../Colors/dark-colors.scss';
@import '../../Colors/light-colors.scss';

.container {
  background-color: $background-color-light-mode;
  color: $primary-black;
  display: flex;
  justify-content: center;
  padding-bottom: 48px;
}

:global(body.dark) .darkContainer {
  background-color: $background-color-dark-mode;
  color: $primary-white;
}

.content {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  max-width: 1440px;
  align-items: center;
}

.projectName {
  color: $primary-color;
}

.test {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
}

.form {
  width: 100%;
  max-width: 500px;
}

.authorizationForm {
  display: flex;
  flex-flow: column wrap;
  gap: 16px;
}

.inputs {
  display: flex;
  flex-flow: column wrap;
  gap: 8px;
}

.authorizationInput {
  padding: 24px;
  border-radius: 12px;
  outline: none;
  border: 1px solid $disable-stroke-white;
}

:global(body.dark) .darkAuthorizationInput {
  background-color: $background-color-dark-mode;
  color: $primary-white;
  border: 1px solid $disable-stroke-dark;
}

.check {
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
}

.buttonContainer {
  display: flex;
  flex-flow: column wrap;
  gap: 16px;
  align-items: center;
}

.button {
  display: flex;
  justify-content: center;
  width: 100%;
}

.signUpContainer {
  display: flex;
  gap: 8px;
}

.signUp {
  color: $primary-color;
}

.checkbox {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 1200px) {
  .test {
    justify-content: center;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .image {
    width: 500px;
    height: 160px;
  }
  .form {
    padding: 16px;
  }
}
