@import '/app/Colors/common-colors.scss';
@import '/app/Colors/dark-colors.scss';
@import '/app/Colors/light-colors.scss';

.modalContent {
    display: flex;
    flex-direction: column;
}
.playlistContent {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.modalHeading {
    padding-bottom: 16px;
}
.naming {
    font-size: 16px;
}
.playlists {
    display: flex;
    gap: 8px;
}
:global(body.dark) .lightContainer {
    color: $gray-400;
    background-color: $primary-black;
  }
  
  .playlists input[type='checkbox'] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid $primary-white;
    border-radius: 12px;
    cursor: pointer;
    background-color: transparent; 
    transition: background-color 0.3s ease, border-color 0.3s ease;

    &:checked {
        background-color: $primary-color; 
        border-color: $primary-color; 
    }
}