//primary-colors//
$primary-color: #ff8800;
$primary-black: #171c26;
$primary-white: #f2f2f2;
$seconday-white: #9d9d9d;
$background-color-light-mode: #fcfcfc;

// gray//

$gray: #808080;
$gray-200: #989898;
$gray-300: #a4a4a4;
$gray-400: #b1b1b1;
$gray-500: #bdbdbd;
$gray-600: #cacaca;
$gray-700: #d7d7d7;
$gray-800: #e4e4e4;
$gray-900: #f2f2f2;

//orange//
$orange-200-white: #ffa257;
