//orange//

$orange-100: #DE7500;
$orange-200: #FFA257;
$orange-300: #9E5200;
$orange-400: #804100;
$orange-500: #633100;
$orange-600: #482200;
$orange-700: #2E1300;
$orange-800: #160600;
$orange-900: #000102;


$hovered-dark:#1D2330;
$clicked-dark:#212736;
$disable-stroke-dark:#474747;
$background-color-dark-mode:#131720;


