//orange//

$orange-100: #de7500;
$orange-200: #ffa257;
$orange-300: #9e5200;
$orange-400: #804100;
$orange-500: #633100;
$orange-600: #482200;
$orange-700: #2e1300;
$orange-800: #160600;
$orange-900: #000102;

$hovered-dark: #1d2330;
$clicked-dark: #212736;
$disable-stroke-dark: #474747;
$background-color-dark-mode: #131720;
