//orange//

$orange-100: #ff953a;
$orange-400-white: #ffba86;
$orange-500-white: #ffc69b;
$orange-600-white: #ffd2af;
$orange-700-white: #ffddc3;
$orange-800-white: #ffe9d7;
$orange-900-white: #fff4eb;

$hovered-white: #ededed;
$clicked-white: #e4e4e4;
$disable-stroke-white: #e0e0e0;
$background-color: #f2f2f2;
