//orange//

$orange-100:#FF953A;
$orange-400-white:#FFBA86;
$orange-500-white:#FFC69B;
$orange-600-white:#FFD2AF;
$orange-700-white:#FFDDC3;
$orange-800-white:#FFE9D7;
$orange-900-white:#FFF4EB;


$hovered-white:#EDEDED;
$clicked-white:#E4E4E4;
$disable-stroke-white:#E0E0E0;
$background-color:#F2F2F2;