@import '../../Colors/common-colors.scss';
@import '../../Colors/dark-colors.scss';
@import '../../Colors/light-colors.scss';

.cardWrapper {
  max-width: 978px;
  width: 100%;
  height: 275px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  border-radius: 12px;
  padding: 24px 0 24px 24px;
  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%),
    url('/images/image81.png') lightgray 50% / cover no-repeat;
}
.cardImage {
  display: flex;
  align-items: center;
  gap: 24px;
}
.image {
  width: 227px;
  height: 227px;
}
.iconsMobile {
  display: none;
}

.headingWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.artistName {
  font-size: 48px;
  font-weight: 700;
  color: $primary-white;
  letter-spacing: 0.96px;
}
.albums {
  font-size: 20px;
  font-weight: 500;
  color: $gray-500;
  letter-spacing: 0.2px;
}

@media screen and (max-width: 425px) {
  .cardWrapper {
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 0 32px 16px;
  }
  .cardImage {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 120px;
    height: 120px;
  }
  .image {
    width: 120px;
    height: 120px;
  }
  .artistName {
    font-size: 20px;
  }
  .albums {
    font-size: 14px;
  }
  .headingWrapper {
    gap: 4px;
  }
  .iconWrapper {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.1);
  }
  .iconsMobile {
    max-width: 425px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
    padding-right: 16px;
  }
}
@media screen and (max-width: 360px) {
}
