@import '../../Colors/common-colors.scss';
@import '../../Colors/dark-colors.scss';
@import '../../Colors/light-colors.scss';

.container {
  background-color: $background-color-light-mode;
  color: $primary-black;
  padding-bottom: 52px;
  display: flex;
  justify-content: center;
}

:global(body.dark) .darkContainer {
  background-color: $background-color-dark-mode;
  color: $primary-white;
}

.content {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  max-width: 1440px;
}

.test {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
}
.form {
  width: 100%;
  max-width: 500px;
}
.projectName {
  color: $primary-color;
}
.heading {
  display: flex;
  flex-flow: column wrap;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.authorizationForm {
  display: flex;
  flex-flow: column wrap;
  gap: 16px;
}

.inputs {
  display: flex;
  flex-flow: column wrap;
  gap: 8px;
}

.authorizationInput {
  padding: 24px;
  border-radius: 12px;
  outline: none;
  border: 1px solid $disable-stroke-white;
  background-color: $background-color-light-mode;
}
:global(body.dark) .darkAuthorizationInput {
  background-color: $background-color-dark-mode;
  color: $primary-white;
  border: 1px solid $disable-stroke-dark;
}
.check {
  display: flex;
  gap: 8px;
  align-items: center;
}
.checkbox {
  width: 24px;
  height: 24px;
}
.button {
  display: flex;
  justify-content: center;
  width: 100%;
}
.buttonContainer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 16px;
}
.signUpContainer {
  display: flex;
  gap: 8px;
}
.signUp {
  color: $primary-color;
}
.error {
  color: red;
}
:global(body.dark) .darkContent {
  background-color: $background-color-dark-mode;
  color: $primary-white;
}
