@import '../../../Colors/common-colors.scss';
@import '../../../Colors/light-colors.scss';
@import '../../../Colors/dark-colors.scss';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: fit-content;
  padding: 4px;
  border-radius: 12px;
  cursor: pointer;
  line-height: 19px;
}

.button:hover {
  background-color: $hovered-white;
}

.button:active {
  background-color: $clicked-white;
}

:global(body.dark) .dark:hover {
  background-color: $hovered-dark;
}

:global(body.dark) .dark:active {
  background-color: $clicked-dark;
}
