@import '../../../Colors/common-colors.scss';
@import '../../../Colors/dark-colors.scss';
@import '../../../Colors/light-colors.scss';

.dropdownButtonContainer {
  display: flex;
  justify-content: center;
  padding: 8px;
  width: fit-content;
  border-radius: 12px;
  position: absolute;
  min-width: 158px;
  max-width: 100%;
}
.dropdownButtonContainerLight {
  background-color: $primary-white;
}

.dropdownButtonContainerDark {
  background-color: $primary-black;
}
