@import '../../../Colors/common-colors.scss';
@import '../../../Colors/dark-colors.scss';
@import '../../../Colors/light-colors.scss';

.dropdownButtonContainer {
  display: flex;
  justify-content: center;
  padding: 16px;
  width: fit-content;
  border-radius: 12px;
  position: absolute;
  min-width: 208px;
  max-width: 100%;
  background-color: $primary-white;
}

:global(body.dark) .dropdownButtonContainerDark { 
  background-color: $primary-black;
}